.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav li {
  margin: 0;
  padding: 0 12px;
  position: relative;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover,
.nav a:active {
  color: #f3cafb;

}

.nav ul li:hover ul {
  display: block;
}

.nav button {
  font: inherit;
  background: #dd0db0;
  border: 1px solid #dd0db0;
  padding: 0.5rem 1.5rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
}

.nav button:focus {
  outline: none;
}

.nav button:hover,
.nav button:active {
  color: #f3cafb;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}

ul.subMenu {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
  border-radius: 10px;
  text-align: left;
  left: -7px;
  top: 28x;
}

ul.subMenu li {
  display: block;
  color: #000;
  margin: 0;
  padding: 5px 20px;
}

ul.subMenu li a {
  color: #000;
}