$white: #ffffff;
$black: #000000;
$top-black: #253237;
$light-green: #4fb68d;
$footer-area: #efefef;
$footer-left-bg: #f6f6f6;
$top-nav-bg: #253237;

$font-size-14: 14px;
$font-size-16: 16px;
$font-size-22: 22px;
$font-size-30: 30px;

$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
